/* styler un petit sys mosaic */

.mosaic {

    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.mosaic .image {
    margin: 5px 0;
}

