/* styler un petit sys mosaic */

.mosaic {

    height: 500px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.header a {
    text-decoration-line: none;
}

.header a:hover {
    text-decoration-line: underline;
    color: rgb(124, 10, 124);
}

.mosaic .image {
    margin: 5px;
}

.header {
    height: 10vh;
    background-color: bisque;
    display: flex;
    align-items: center;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

body {
    margin: 0;
}


/* positionement du side bar et du contenu */


.sidebar {
    width: 25%;
    float: left;
    background-color: rgb(198, 127, 127);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    width: 75%;
    float: right;
    background-color: rgb(221, 133, 11);
}


/* positionnement en utilisant les flexbox */
.page {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.footer {
    background-color: aqua;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}